.hero__slider__slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  .hero-background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .hero-title {
    position: absolute;
    width: 40%;
    color: white;
    bottom: 5%;
    left: 5%;
    .journalist {
      width: 80%;
      display: flex;
      gap: 10%;
    }

    h1 {
      span {
        color: var(--theme-color);
      }
    }
  }
  .arrows {
    position: absolute;
    bottom: 5%;
    right: 5%;
    .arrow {
      background: var(--theme-color);
      &:hover {
        color: var(--theme-color);
        background: white;
      }
    }
    @media all and (max-width: 700px) {
      display: none;
    }
  }
}
