.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  background: black;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  &__logo {
    a {
      color: white;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
    }
  }
  &__menu {
    width: 35%;
    margin-left: 10%;
    &-lists {
      position: absolute;
      right: 0;
      height: 92vh;
      width: 100%;
      top: 8vh;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5%;
      transform: translate(101%);
      transition: transform 0.5s ease-in;
      ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
      }
      li {
        list-style: none;
        float: left;

        a {
          color: white;
          font-size: 3rem;
          text-decoration: none;
          text-transform: uppercase;
          transition: color 0.3s;
          &:hover {
            color: var(--theme-color);
          }
          &.active {
            color: var(--theme-color);
          }
        }
      }
    }
  }
  &__burger {
    width: 32px;
    height: 25px;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: transform 0.5s ease-in;
    span {
      display: block;
      width: 30px;
      height: 1px;
      background: #fff;
      margin: 3px 0 8px 1px;
      transition: background 0.3s;
      &.active {
        background: var(--theme-color);
      }
    }
    &:hover span {
      background: var(--theme-color);
    }
    &.active {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}

@media all and (max-width: 1450px) {
  .navbar {
    &__subscribe {
      display: none;
    }
    &__burger {
      display: block;
      &.active {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
    .navbar__menu {
      &-lists {
        position: absolute;
        right: 0;
        height: 92vh;
        width: 100%;
        top: 8vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5%;
        transform: translate(101%);
        transition: transform 0.5s ease-in;
        li {
          a {
            color: white;
            font-size: 3rem;
            &:hover {
              color: var(--theme-color);
            }
          }
        }
        &.nav-active {
          transform: translate(0);
        }
      }
    }
  }
}
