.news-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  z-index: 10;
  .background-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 11;
  }
  &__inner {
    position: relative;
    width: 800px;
    height: 90vh;
    margin: 0 auto;
    top: 9vh;
    background: rgb(0, 13, 8);
    padding: 1.5% 2% 1%;
    color: white;
    overflow: auto;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 12;
    h2 {
      width: 96%;
      color: #fff;
      text-transform: none;
      font-weight: bold;
      margin-bottom: 1%;
      /*   font-family: "Playfair Display", serif; */
    }
    p {
      color: #fff;
    }
    .journalist {
      width: 100%;
      display: flex;
      gap: 2%;

      p {
        color: #a2a2a2;
        font-weight: 300;
      }
      .author {
        font-weight: 300;
        color: var(--theme-color);
      }
    }
    .news-modal-picture {
      width: 100%;
      padding: 10px 0 20px 0;
    }
    .modal-close {
      position: absolute;
      top: 1.5%;
      right: 1.5%;
      &:hover {
        /*    cursor: pointer; */
        opacity: 0.7;
      }
    }
    .modal-paragraph {
      p {
        line-height: 2rem;
      }
    }
    @media all and (max-width: 1000px) {
      width: 85%;
    }
    @media all and (max-width: 700px) {
      h2 {
        font-size: 1.6rem;
      }
    }
  }
}
